.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

.app_boards_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-top: 10px;
}

.app_boards {
  height: 100%;
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 12px;
}

.app_boards_last {
  flex-basis: 290px;
  min-width: 290px;
}

.app_boards_add-board {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
 
}
/* .board_form_popup{
  position: absolute;
  right: 30%;
  top:   40%;
  background-color: aliceblue;
  padding: 3%;
  border-radius: 8px;
} */


.board_form_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.board_form {
  display: flex;
  flex-direction: column;
}

.board_form h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.board_form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.board_form button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.board_form button[type='submit'] {
  background-color: #28a745;
}
